@import "../common/player.scss";
.ctx-sermons-sermon-list {
	table {
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;

		tr {
			&:hover {
				background-color: color-mix(
					in srgb,
					var(--wp--preset--color--primary) 10%,
					#fff
				);
			}

			.date,
			.title,
			.speaker,
			.series {
				cursor: pointer;
			}
		}

		th {
			text-align: left;
			padding: 0.5rem;
			border-bottom: 1px solid #000;
		}

		td {
			padding: 0.5rem;
		}
	}
	img {
		width: 3rem;
		height: 3rem;
	}

	&-image {
		width: 4rem;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				list-style-type: none;
				margin: 0 0.5rem;
				a {
					padding: 0.5rem;
					border-radius: 0.25rem;
					&.is-active {
						background-color: #000;
						color: #fff;
					}
				}
			}
		}
		.search {
			input {
				padding: 0.5rem;
				border-radius: 0.25rem;
				border: 1px solid #000;
				margin-right: 0.5rem;
			}
			button {
				padding: 0.5rem;
				border-radius: 0.25rem;
				border: 1px solid #000;
				background-color: #000;
				color: #fff;
			}
		}
	}

	&-search {
		padding: 1rem;
		background-color: #ddd;

		form {
			display: flex;
			gap: 1rem;
		}

		.reset {
			margin-left: auto;
		}
	}
}
